@charset "ISO-8859-1";

body {
	background-color: #1f282d;
	color: white;
	font-family: "Arial";
}

a {
	color: #64a1bd;
}

h1 {
	color: #ef82a9;
	font-family: "Arial";
}

label {
	display: block;
	width: 210px;
	float: left;
	font-family: "Arial";
}

img {
	max-width: 300px;
}

input[type="text"] {
	width: 200px;
	font-family: "Arial";
}

input[type="submit"] {
	width: 100px;
	font-family: "Arial";
}

select {
	width: 206px;
	font-family: "Arial";
}

#calendrier {
	width: 70%;
}

.erreur {
	color: red;
}

.button {
	background-color: lightblue;
	border-radius: 20px;
	padding: 10px 20px;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}