@charset "ISO-8859-1";

html {
	font-family: "Arial", sans-serif;
	background-color: #1f282d;
	color: white;
}

a {
	color : #64a1bd;
}

h1 {
	color: #ef82a9;
}

label {
	display: block;
	width: 210px;
	float: left;
}

img {
	max-width: 300px;
}

input[type="text"] {
	width: 200px;
}

input[type="submit"] {
	width: 100px;
}

select {
	width: 206px;
}

td {
	min-width: 200px; 
}

.erreur {
	color: red;
}