@charset "ISO-8859-1";

html {
	font-family: "Arial", sans-serif;
}

h1 {
	color: blue;
}

label {
	display: block;
	width: 210px;
	float: left;
}

input[type="text"] {
	width: 200px;
}

input[type="submit"] {
	width: 100px;
}

select {
	width: 206px;
}

.erreur {
	color: red;
}